@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #80adaf;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #80adaf;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
